:root {
  --main-color: rgb(11, 52, 90);
  --blue: #22c4d6;
  --black-grey: #24252a;
  --black: #000;
  --gold: #d1c387;
  --white: #fff;
  --orange: #febd69;
  --orange-plus: #f39d2c;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--black);
}
header {
  display: flex;
  justify-content: space-between;
  /* background-color: var(--main-color); */
  align-items: center;
}
nav a {
  margin: 20px;
  padding: 5px 30px;
  color: var(--gold);
  text-decoration: none;
  transition: 0.6s;
  font-size: 1.1em;
}
nav a:hover {
  border: 2px solid var(--white);
  color: var(--white);
  font-size: 1.15em;
  font-weight: 700;
  transform: scale(1.2);
}
h2 {
  color: var(--white);
}
input[type="email"] {
  background-color: var(--white);
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  width: 22em;
  outline: none;
  margin: 20px 0 15px 4em;
  transition: 0.5s ease;
}
input[type="email"]:hover {
  background-color: var(--gold);
}
#submit {
  border: none;
  border-radius: 15px;
  outline: none;
  padding: 10px;
  margin: 15px 11em;
  background-color: var(--orange);
  color: #000;
  transition: 0.7s;
}
#submit:hover {
  transform: scale(1.1);
  background-color: var(--orange-plus);
}
.hero {
  height: auto;
  width: 100%;
}
.get-started {
  margin-left: 27em;
  margin-top: 2em;
}
p {
  color: var(--white);
  display: inline-block;
}
